.git
.pytest_cache
.venv
.venv2
.docenv
__pycache__
.idea
dist
build
AlpycaDevice
device/__pycache__
rotator.log*
docs/build
docs/refs
alpycadevice.code-workspace
skeletons/AlpycaDeviceSkeletons.code-workspace
alpyca.log*
device/exceptions.py
TTS160.log*
ratetest.csv
logparser.py
*.spec
*.pyc