title = "TTS160 Alpaca Driver"

[device]
dev_port = "COM5"

[site]
site_latitude = 21.378317833333334
site_longitude = -157.93932816666666
site_elevation = 14.6

[driver]
sync_time_on_connect = true
slew_settle_time = 1
pulse_guide_equatorial_frame = true
pulse_guide_altitude_compensation = true
pulse_guide_max_compensation = 1000
pulse_guide_compensation_buffer = 20

[gps]
enabled = true
port = "auto"
baudrate = 9600
min_fix_quality = 1
min_satellites = 4
push_on_connect = true
location_name = "GPS"
read_timeout = 2.0
verbose_logging = true

[alignment]
enabled = false
camera_source = "alpaca"
camera_address = "127.0.0.1"
camera_port = 11111
camera_device = 0
exposure_time = 1.0
binning = 2
interval = 30.0
fov_estimate = 1.0
detection_threshold = 5.0
max_stars = 50
error_threshold = 60.0
database_path = "tetra3_database.npz"
verbose_logging = false
error_ignore = 30.0
error_sync = 120.0
error_concern = 300.0
error_max = 600.0
det_excellent = 0.8
det_good = 0.6
det_marginal = 0.4
det_improvement_min = 0.1
min_separation = 15.0
refresh_radius = 10.0
scale_radius = 30.0
refresh_error_threshold = 60.0
lockout_post_align = 60.0
lockout_post_sync = 10.0
health_window = 1800.0
health_alert_threshold = 5

[alignment.zwo]
camera_id = 0
exposure_ms = 2000
gain = 100
binning = 2
image_type = "RAW16"
